.header {
  background: rgba(189, 31, 23, 0.9)
    url("https://s3-alpha-sig.figma.com/img/543a/3190/e709b27bbda0155da5252a80704b546b?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=BeGje6OYoWIdY2tTuTB3CO2O6RNlgM5mdWQKW8vmpCUCTFzExTaOzk45cnj3gwohkyw-TM68zOB-39C2bPiiS2wUSI0lj5kktmcS~G0EPhNqFbQwErMJafUHJVwkzg9KYl85mx7yGDrkz8CUGW~T-SmNWmznvIQvT5-h7kp1FP6ydiCGX7m4sTbymjYefzawovcnFYGiA~CTIL8ZB8Re3NSMk~XNOycXNOgi9~gDy0agyt~g65alkR7qz2M3cwaJs-oAZc96K-BhmFPG53HUkDgl~cffjn4v2MdU~8Cn51gagTAVAVLmhRqRnWSym3SNfHMbAlaE~aaYzS38zulaRQ__");
  background-blend-mode: multiply;
  background-size: 8%;
  width: auto;
  padding-bottom: 80px;
}

.banner-section {
  width: 78%;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 120px;
  padding-bottom: 80px;
  margin-left: 15%;
  /* border: 1px solid yellow; */
  position: relative;
}
.banner-text-div {
  /* border: 2px solid blue; */
  height: 80vh;
  float: left;
  position: relative;
}
.banner-title {
  top: 20%;
  width: 128%;
  /* border: 2px solid white; */
  height: auto;
  padding-top: 5px;
  padding-left: 40px;
  padding-right: 20px;
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(189, 31, 23, 0) 32.88%,
    rgba(189, 31, 23, 0.7) 100%
  );
  line-height: 130px;
  z-index: 5;
}
.banner-title h1 {
  font-size: 110px;
  color: white;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
}
.banner-text-div button {
  padding: 10px 15px 10px 15px;
  background: rgba(254, 191, 0, 1);
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  margin-top: 25px;
}

.banner-img {
  background: url("../../assets/image1.png");
  /* width: 100%;
  height: 100%; */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  height: 80vh;

  /* border: 2px solid green; */
}

.banner-img img {
  display: none;
}
.banner-detail {
  position: absolute;
  top: 70%;
  padding-left: 40px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}
.logo1 {
  background-image: url("../../assets/Vector.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
  position: absolute;
  /* border: 1px solid greenyellow; */
  right: -4%;
  top: -5%;
}
.logo2 {
  position: absolute;
  background-image: url("../../assets/TodayOffer.png");
  background-color: goldenrod;
  padding: 50px;
  border-radius: 50%;
  background-size: contain;
  /* border: 8px solid goldenrod; */
  /* width: 100px;
    height: 100px; */
  bottom: 0px;
  right: -8%;
}
.logo-div img {
  width: 30px;
  height: 30px;
}
.logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.logo-div h1 {
  color: white;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

@media only screen and (max-width: 768px) {
  /*Header start*/
  .header {
    height: auto;
    padding: 30px;
  }

  .banner-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    padding: 10px;
    margin: 0;
    position: relative;
    /* border: 1px solid yellow; */
  }
  .banner-text-div {
    /* border: 2px solid blue; */
    height: auto;
    margin-bottom: 15px;
  }
  .banner-title {
    width: 90%;
    height: auto;
    padding: 0;
    line-height: normal;
    background: transparent;
  }

  .banner-title h1 {
    font-size: 50px;
    color: white;
  }
  .banner-text-div button {
    padding: 10px 15px 10px 15px;
    background: rgba(254, 191, 0, 1);
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    font-style: normal;
    margin-top: 25px;
  }

  /* .banner-img {
    background-image: url("resource/image1.png");
    width: auto;
    background-size: cover;
    height: 50vh;
    margin-top: 40%;
  } */

  .banner-img {
    width: auto;
    height: 50vh;
    /* margin-top: 40%; */
    /* background-size: cover;
    background-image: url("../../assets/image1.png");
    background-color: aqua; */
  }

  .banner-img img {
    width: 100%;
    height: 95%;
    display: block;
  }

  .banner-detail {
    /* border: 1px solid yellow; */
    font-size: 24px;
    margin-top: 55px;
    padding: 0;
  }
  .logo1 {
    right: -4%;
    top: -5%;
  }
  .logo2 {
    display: none;
  }

  /*Header end*/
}
