.footer-container-main {
  background: rgba(0, 0, 0, 0.7)
    url("https://s3-alpha-sig.figma.com/img/1130/8d6f/f909efb883f56845dcebe7cdc85a607c?Expires=1732492800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=kDmp1rzG4KcE0rcSvJj4odUzgIovysZGMNX5XoQdDfkUwO0NllviV0c5RkW-Zg5tqtzkqvqN-V8WfTIwVMzPcZdZCTw7vUU~w2LuaB13UmH-uKlUHqhgHY6f0jTBD0qPcndEoZ-Gfjh9~08ty0-fWnvWNRRWBvpK~h1m3cufSrXQG2tUOWWcNO6xtdO6vS02E5Z8gMjc1OuuMg3Q7b21g2psMA4SZkYWgdsZ1hwkyt~yzdniUA7VDy2jglaxaEJZqX6bo-SZ7XcRvKAT1LnPfeBtaSAj2aGUBxB5rSX9Om0~YgwR108j5atBUIJbaOfpgggD2lah6q8LbLnQ3pwQ0Q__");
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  background-size: cover;
  background-position: center;
  margin-top: 50px;
  background-blend-mode: multiply;
  overflow: hidden;
  display: grid;
  align-items: center;
}
.footer-container {
  margin-left: 18%;
  width: 78%;
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  row-gap: 40px;
  /* border: 2px solid gray; */
}
.footer-text h1 {
  color: white;
  font-family: "Bebas Neue", serif;
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
  /* line-height: 64px; */
  text-align: center;
}
.footer-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 8px;
  /* border: 2px solid red; */
  /* margin-top: 4%; */
}
.footer-card-detail {
  color: white;
  text-align: center;
}
.footer-card-detail img {
  width: 20px;
}
.footer-card-detail h3 {
  font-family: "Bebas Neue", serif;
  font-weight: 100;
  font-size: 20px;
  margin: 15px;
}

.footer-card-detail p {
  font-family: "Roboto", sans-serif;
  margin: 8px;
  font-size: 15px;
}

.social-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-icon {
  margin-right: 15px;
  border: 1px solid white;
  width: 50px;
  height: 50px;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.footer-rights {
  color: white;
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  /*Footer*/

  .footer-container-main {
    height: 175vh;
  }
  .footer-text h1 {
    font-size: 60px;
    text-align: center;
  }

  .footer-container {
    margin: 0 auto;
    width: 100%;
  }

  .footer-card-container {
    display: flex;
    flex-direction: column;
  }

  .footer-card-detail {
    color: white;
    text-align: center;
    margin: 8px;
  }
  .footer-card-detail img {
    width: 20px;
  }
  .footer-card-detail h3 {
    font-family: "Bebas Neue", serif;
    font-weight: 100;
    font-size: 20px;
  }

  .footer-card-detail p {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
  }

  .social-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .social-icon {
    margin-right: 15px;
    border: 1px solid white;
    width: 35px;
    height: 35px;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .social-icon img {
    width: 15px;
  }

  .footer-rights p {
    color: white;
    font-size: 20px;
    text-align: center;
  }
}
